<table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Judul</th>
        <th scope="col">Artist</th>
        <th scope="col">Durasi</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Laugh Now Cry Later</td>
        <td>Drake</td>
        <td>4:21</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Save Your Tears</td>
        <td>The Weeknd</td>
        <td>3:35</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Peaches</td>
        <td>Justin Bieber ft. Daniel Caesar & Giveon</td>
        <td>3:18</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Leave The Door Open</td>
        <td>Silk Sonic (Bruno Mars & Andreson .Paak)</td>
        <td>4:02</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Heartbreak Anniversary</td>
        <td>Giveon</td>
        <td>3:18</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Kids Turned Out Fine</td>
        <td>A$AP Rocky</td>
        <td>3:03</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>Congratulation</td>
        <td>Post Malone</td>
        <td>3:40</td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>HUMBLE.</td>
        <td>Kendrick Lamar</td>
        <td>2:57</td>
      </tr>
    </tbody>
  </table>